nextflow.enable.dsl=2

profiles {
    standard {

        process{
            executor = 'local'
            withLabel: parallel_jobs {
                cpus = 12
                //memory = 100.GB
                //submitRateLimit='5/60min'
            }
        }


        params {

            outdir = "${launchDir}"
            logs_dir = "${launchDir}/logs"

            sim=false

            help = false
            verbose = false
        
            cluster {
                nodes = "125,126,127,128,129" //"125,126,117,128,129,130,131"
                slots = 4           //TODO: determine this automatically from given nodes.
                mpi = "/usr/lib64/openmpi/bin/mpirun"
                mpirun_hosts_txt_file = "${launchDir}/mpirun_hosts_list.txt"
                pssh_hosts_txt_file = "${launchDir}/pssh_hosts_list.txt" 
            }

            data {
                obsid=null
                sub_array_pointing="000"
                label= "R" 
                redshift=1
                ms_files = 'msfiles.txt'
                path = "/data/users/lofareor/chege/leap_tests/L254871"
                //all_msets_txt_list = "${path}/all_ms_files.txt"
                ms_files_003 = "ms_files_001.txt"
                ms_files_002 = "ms_files_002.txt"
                ms_files_003 = "ms_files_003.txt"
                all_ms_files_003 = "${path}/all_ms_files_003.txt"
            }

            shapelets {
                modes = "${projectDir}/models/shapelets_modes/*modes"
            }

        }

    }

    gen002vis {

        includeConfig './configs/avgto002.config'
    }


    mpi_di {

        includeConfig './configs/mpi_di.config' 
    }

    bandpass {

        includeConfig './configs/bandpass.config' 
    }

    gen003vis {

        includeConfig './configs/avgto003.config'
    }

    mpi_dd {

        includeConfig './configs/mpi_dd.config' 
    }

    gains {
        includeConfig './configs/gains.config' 
    }

    ps {

        includeConfig './configs/pspipe.config' 
    }


}


dag {
    enabled = true
    overwrite=true
    file = "${params.logs_dir}/dag.png"
}

report {
    enabled = true
    overwrite=true
    file = "${params.logs_dir}/report.html"
}

timeline {
    enabled = true
    overwrite=true
    file = "${params.logs_dir}/timeline.html"
}

trace {
    enabled = true
    overwrite=true
    file = "${params.logs_dir}/trace.html"
}


//params.mode = null

//if (params.mode=="mpi"){
//    params.stage = null
//    includeConfig 'mpi_sagecal.config'
//}
//else if (params.mode=="standalone") {
//    includeConfig 'standalone_sagecal.config'
//}
