nextflow.enable.dsl=2

params.mode = null
params.stage = null
params.obsid = null

if (params.mode=="mpi"){
    includeConfig 'mpi_sagecal.config'
}
else if (params.mode=="standalone") {
    includeConfig 'standalone_sagecal.config'
}

params {
    // file to save the list mset of files
    ms_files= 'msfiles.txt'
    
    //output data directory
    params.outdir = "${launchDir}"

    //shapelets files to be copied when using the default sky model
    shapelets_modes = "${projectDir}/models/shapelets_modes/*modes"

    //solutions plotting inputs
    plotgains {
        fmin = 146
        fmax = 160
    }
    
    standalone_sage_nf_file = "${projectDir}/standalone.nf"

    //Only print out the help message when asked
    help = false
    verbose = false // v for verbose
}

dag {
    enabled = true
    overwrite=true
    file = file = "$params.outdir/dag.png"
}

report {
    enabled = true
    overwrite=true
    file = "$params.outdir/report.html"
}

timeline {
    enabled = true
    overwrite=true
    file = "$params.outdir/timeline.html"
}

trace {
    enabled = true
    overwrite=true
}