params{
    gen_003_vis {
        msin.startchan = 0
        msin.nchan = 3
        msin.datacolumn = "CORRECTED_DATA"
        msout.datacolumn = "DATA"
        steps = "[avg1]"
        avg1.type = "average"
        avg1.freqstep = 1
        avg1.timestep = 5

        nf_module = "${projectDir}/modules/gen_003_vis.nf"
    }
}