params{
    gen_002_vis {
        msin.startchan = 0
        msin.nchan = 15
        msin.datacolumn = "DATA"
        msout.datacolumn = "DATA"
        steps = "[flag1,avg1]"
        flag1.type = "aoflagger"
        flag1.memoryperc = 20
        avg1.type = "average"
        avg1.freqstep = 5
        avg1.timestep = 1

        nf_module = "${projectDir}/modules/gen_002_vis.nf"
    }
}
