params {
    bandpass {
        nf_module = "${projectDir}/standalone.nf"
        stage="DI"
        stage_number='002'
        beam_model = 1
        number_of_threads= 6
        time_samples_per_sol = 5400
        min_lambda=50
        max_lambda=5000
        max_em_iterations=6
        single_max_em_iterations = 4
        max_lbfgs_iterations = 20
        lbfgs_memory_size = 7
        solver = 5
        robust_nu_lower = 2
        robust_nu_upper = 30
        gpu_heap_size=128
        gains_correction_cluster_id=-1 // -k
        action=0 //-a 
        input_column = "MODEL_DATA"
        output_column = "CORRECTED_DATA"
        enable_diagnostics=1
        pre_whiten = 0
        apply_global_solution = 1
        use_gpu = 1
        sky_model_format=1
        solutions_file = "MS_name.solutions"
        sky_model="${projectDir}/models/rescaled_new3c61.sky.txt"
        clusters_file="${projectDir}/models/rescaled_new3c61.sky.txt.cluster"
        solsdir = "${params.data.path}/solutions_sagecal_bandpass"
        logfile = "${params.data.path}/sagecal_bandpass.log"
    }
}