params {
    gains {
        fmin = 110
        fmax = 190
        stations_to_plot = "0,5,10,20,40,50,55"
        dd_clusters_to_plot = "1,4,24,5,13,106,10,51,96,40,84,91,30,105"
        dd_cluster_names = "'~NCP','3C61.1','3deg','4deg','5deg','6deg','7deg','8deg','9deg','10deg','11deg','14deg','Cas-A','Cyg-A'"
    }
}