
params {
    mpi_dd {
        mpi='/usr/lib64/openmpi/bin/mpirun'
        stage_number='003'
        beam_model = 0
        sky_model = "${projectDir}/models/sky_sagecal_no_diffuse_simple_ateam_corrected_shape.txt"
        clusters_file = "${projectDir}/models/sky_sagecal_no_diffuse_new_cluster_time_remove_outer_simple_ateam_new3c61.txt.cluster"
        admm_rho_file = "${projectDir}/models/admm_rho.txt-hight_reg_test_v2_new_cluster_time_remove_outer"
        constant_rho_value = false
        min_lambda = 250
        admm_iterations = 41
        time_samples_per_sol = 120
        max_em_iterations = 3
        max_lbfgs_iterations = 10
        robust_nu_upper = 3
        number_of_threads = 12

        preprocessing_file = "${projectDir}/modules/dd_preprocessing.nf" //An separate nf file to be run in parallel per node. Composed of tasks that do not need consensus e.g clipping.py

        // These params do not change in either DI or DD in the default lofar pipeline
        max_lambda=5000
        consensus_polynomial_terms = 3
        solver = 5
        pre_whiten = 0
        apply_global_solution = 1
        use_gpu = 1
        sky_model_format=1
        robust_nu_lower = 2
        lbfgs_memory_size = 7
        single_max_em_iterations = 2
        input_column = "DATA"
        output_column = "CORRECTED_DATA"
        solutions_file = "sagecal_Zsol"
        solsdir = "${params.data.path}/solutions_sagecal_mpi_dd"
        logfile = "${params.logs_dir}/sagecal_mpi_dd.log"

        enable_spatial_reg = false 
        spatial_reg {
            lambda = 0.01
            mu = 1e-4
            n0 = 3
            fista_maxiter = 40
            candence = 10
            alpha = 200
        }
    }
}
