params {
    mpi_di {
        mpi='/usr/lib64/openmpi/bin/mpirun'
        stage_number='002'
        beam_model = 1
        sky_model="${projectDir}/models/rescaled_new3c61.sky.txt"
        clusters_file="${projectDir}/models/rescaled_new3c61.sky.txt.cluster"
        admm_rho_file="${projectDir}/models/admm_rho_step1000.txt"
        min_lambda=50
        admm_iterations=41
        time_samples_per_sol = 15
        max_em_iterations=4
        max_lbfgs_iterations = 10
        robust_nu_upper = 30
        number_of_threads= 6
        timechunks = 1
        preprocessing_file = "${projectDir}/modules/di_high_reg_preprocessing.nf" //An separate nf file to be run in parallel per node. Composed of tasks that do not need consensus e.g clipping.py

        // These params do not change in either DI or DD in the default lofar pipeline
        max_lambda=5000
        consensus_polynomial_terms = 3
        solver = 5
        pre_whiten = 0
        apply_global_solution = 1
        use_gpu = 1
        sky_model_format=1
        robust_nu_lower = 2
        lbfgs_memory_size = 7
        single_max_em_iterations = 2
        input_column = "DATA"
        output_column = "MODEL_DATA"
        solutions_file = "sagecal_Zsol"
        solsdir = "${params.data.path}/solutions_sagecal_mpi_di"
        logfile = "${params.logs_dir}/sagecal_mpi_di.log"
    }
}
