

param.foo = 'def_value'
params.bar = 'other_def' 

profiles {
    standard {
        process.executor = 'local'
    }

    mpi_di {

        includeConfig 'mpi_di.config' 
    }

    bandpass {

        includeConfig 'bandpass.config' 
    }

    mpi_dd {

        includeConfig 'mpi_dd.config' 
    }

}
