params{
    wsclean{
        dir="all_sky"
        polarisation='I'
        minuv_lambda=50
        threads=12

        
        di_model_image_name="DI_MODEL"
        di_corrected_image_name="DI_CORRECTED"

        bp_model_image_name="BP_MODEL"
        bp_corrected_image_name="BP_CORRECTED"

        dd_model_image_name="DD_MODEL"
        dd_residual_image_name="DD_RESIDUALS"


        wide_low_res {
            scale='2amin'
            size=3600
            weight='briggs -0.1'
            
            maxuv_lambda=300
        }

        narrow_high_res {
            scale='0.2amin'
            size=6000
            weight='briggs -0.1'
            maxuv_lambda=5000
        }
    }
}